In [51]:
original_filename = 'data/sample.csv'
anonymized_filename = 'data/fake_uuids.csv'

In [52]:
import pandas as pd

# Load both datasets
original_df = pd.read_csv(original_filename, sep=';')
anonymized_df = pd.read_csv(anonymized_filename, sep=';')

In [53]:
def project_to_tiles(dataframe, fmt_str= '{0:.3f}'):
    """
    Project latitude and longitude to a 3 decimal place tile identifier.
    """

    # Transform latitude and longitude to string, format to 3 decimal places
    dataframe['latitude'] = dataframe['latitude'].apply(lambda x: fmt_str.format(x))
    dataframe['longitude'] = dataframe['longitude'].apply(lambda x: fmt_str.format(x))

    # Concatenate latitude and longitude to create a unique tile identifier
    dataframe['tile'] = dataframe['latitude'] + '|' + dataframe['longitude']

    # Only keep uuid and tile columns
    return dataframe[['uuid', 'tile']]

In [54]:
# Project both datasets to tiles
original_df = project_to_tiles(original_df)
anonymized_df = project_to_tiles(anonymized_df)

In [55]:
def find_visitors(dataframe):
    """
    Create a list of visitors per tile.
    """

    # Group by tile and create a list of visitors per tile
    visitors_per_tile = dataframe.groupby('tile')['uuid'].apply(list)

    # Create a dataframe with tile and visitors
    visitors_per_tile_df = pd.DataFrame({'tile': visitors_per_tile.index, 'visitors': visitors_per_tile.values})

    return visitors_per_tile_df

In [56]:
original_visitors = find_visitors(original_df)
anonymized_visitors = find_visitors(anonymized_df)

# Only keep tiles with only one visitor
original_visitors = original_visitors[original_visitors['visitors'].apply(lambda x: len(x) == 1)]
anonymized_visitors = anonymized_visitors[anonymized_visitors['visitors'].apply(lambda x: len(x) == 1)]

# Transform list to string
original_visitors['visitors'] = original_visitors['visitors'].apply(lambda x: x[0])
anonymized_visitors['visitors'] = anonymized_visitors['visitors'].apply(lambda x: x[0])

# Merge on tile identifier
merged_visitors = pd.merge(original_visitors, anonymized_visitors, on='tile', how='inner')
merged_visitors = merged_visitors[['visitors_x', 'visitors_y']]

# Drop duplicates rows
merged_visitors = merged_visitors.drop_duplicates()

# Show the result
merged_visitors.head(25)

      visitors_x                            visitors_y
0              1  2ef33267-9a55-4f7b-9906-818dc64603f3
205           31  0c8fbf2c-43c4-4b2a-b57d-7f35fc49861c
257            8  b7397855-7b67-4fb6-b8ce-8ff097e49911
362           73  65a10763-e605-406e-ab06-a8ec6a95eed3
607           21  725375ae-83c2-41f0-99e2-3c9a336c9f3e
622           11  9831be2c-901d-4159-b5da-785bd0ba5345
636           14  305b2762-1f2a-4b97-992e-55ea8b6cdaa2
641           15  c214c01f-1e15-42eb-87d0-24234caee94c
715           25  175aedab-548c-46da-a518-de18ab5034e6
739           17  c9650a22-f739-437c-b589-44b2fd3e163e
2159          24  2fc95b34-d413-4450-990d-2bb5b3c8828d
2628         110  f72f9938-a294-4a39-b805-4f9eea11edbd
2850           4  0bc0fbfa-868a-49a2-acce-2a1c9c2c5eee
3175          59  d8fd7543-9add-4887-9b12-dfc6ef54852a
3625          62  eff71812-75b9-4a58-a00b-f6baa6752a2c
3881          71  b6e650bb-c113-4523-8bb8-16b3eb8fc14b
4140          51  85ceab77-426b-4962-9042-cda55fe4774b
4795          41  fc2abd9c-07a1-411c-af41-c7a8e2daaa62
5047          68  74982ab2-2f97-455b-b3ac-958f148b23cc
5387          69  a68ca668-e993-4c71-b10d-8df391e00020
6027           5  ba55c3c5-bf18-480b-a906-760b9e500fc9
6685          67  72621b60-0299-4936-9dc4-a97e5d71bc38
6816           9  49b532b8-6ddb-4490-8473-6ae4ce163f8d
7038          58  e6b6703c-a5ac-4fb6-bbc6-57397bd50add
7054          83  6674728a-76b6-427d-8ea6-fa4a346c6ec1

In [60]:
# Show row with visitors_x = 48
original_df[original_df['uuid'] == 1]

         uuid            tile
50          1    4.880|45.787
62          1    4.870|45.770
104         1    4.880|45.786
313         1    4.880|45.786
328         1    4.870|45.770
...       ...             ...
5182609     1    4.851|45.513
5182722     1    4.876|45.781
5182729     1  -97.760|30.262
5182750     1    4.870|45.771
5182751     1    4.871|45.770

[129811 rows x 2 columns]

In [61]:
anonymized_df[anonymized_df['uuid'] == '2ef33267-9a55-4f7b-9906-818dc64603f3']

                                         uuid            tile
50       2ef33267-9a55-4f7b-9906-818dc64603f3    4.880|45.787
62       2ef33267-9a55-4f7b-9906-818dc64603f3    4.870|45.770
104      2ef33267-9a55-4f7b-9906-818dc64603f3    4.880|45.786
313      2ef33267-9a55-4f7b-9906-818dc64603f3    4.880|45.786
328      2ef33267-9a55-4f7b-9906-818dc64603f3    4.870|45.770
...                                       ...             ...
5182609  2ef33267-9a55-4f7b-9906-818dc64603f3    4.851|45.513
5182722  2ef33267-9a55-4f7b-9906-818dc64603f3    4.876|45.781
5182729  2ef33267-9a55-4f7b-9906-818dc64603f3  -97.760|30.262
5182750  2ef33267-9a55-4f7b-9906-818dc64603f3    4.870|45.771
5182751  2ef33267-9a55-4f7b-9906-818dc64603f3    4.871|45.770

[129811 rows x 2 columns]